.cont-chat-btn-submit
	margin 20px auto 26px
	max-width 200px
	width 40%

	.btn-chat-submit
		background $primary
		border 0
		border-radius 5px
		color $blanco
		font-family $roboto
		font-size 1.1rem
		padding 8px 0
		width 100%

		&:focus
			outline none