@font-face
    font-family "MyriadProRegular"
    src url("MyriadProRegular.ttf") format("truetype")
    src url("MyriadProRegular.eot") format("embedded-opentype")
    src url("MyriadProRegular.svg") format("svg")
    src url("MyriadProRegular.woff") format("woff")
    src url("MyriadProRegular.woff2") format("woff")
