/*

En este archivo se declaran los colores, las fonts y sus variaciones

las variables se deben declarar con $ al inicio del nombre de la variable

*/

//Paleta de colores del proyecto

$primary    = #dd141d 
$secundary  = #c22a22
$blanco     = #fff
$grisfondo  = #ededed
$grisapp    = #e7e7e7
$grisccc    = #ccc
$grisoscuro = #444
$grisclaro  = #575757
$grisfooter = #d4d4d5
$negro      = #000
$davipay    = #00cccc
$diners     = #001549
/*$rojos    = darken($amarillo, 30%)
$grisf  = lighten($azul, 30%)*/


/*pueden encontrar más funciones para mezclas y manejo de color acá:
https://learnboost.github.io/stylus/docs/bifs.html*/

//Fonts
$roboto = 'Roboto Condensed', sans-serif

//font weights
$light  = 300
$lighti = 300i
$normal = 400
$bold   = 700


//site grid spacing and width
$gutter            = 0.5rem
$site-width         = 110rem
