//Header
header.container-fluid
	div.cont-logo-davivienda
		img.img-responsive(src="http://images.publicidad.davivienda.com/EloquaImages/clients/BANCODAVIVIENDADAVIPRO/%7B91644464-2bc2-4e23-a488-97651814b354%7D_Img-Logo-Davivienda-Header.png", alt="logo-davivienda")

///-Header