//-Layout Base
extends ../templates/base.pug

//-Etiqueta Title
block title
	title Davivienda | Vinculación - Datos Personales

//-Etiqueta Metadescription
block description
	meta(name="description", content="App Davivienda" )

	section.cont-all-app
		article.cont-app-progress
			div.line-app-progress
				ul.steps-app-progress
					li.first-app-step.active
						div.cont-app-circle-step
							div.cont-app-circle-step.circle-app-step
						div.cont-app-number-step
							|1
					li.middle-app-step
						div.cont-app-circle-step
							div.cont-app-circle-step.circle-app-step
						div.cont-app-number-step
							|2
					li.last-app-step
						div.cont-app-circle-step
							div.cont-app-circle-step.circle-app-step
						div.cont-app-number-step
							|3
			
		
		article.cont-chat-white
			div.cont-chat-title
				h2.chat-title-name
					|Santiago,
				p.chat-subtitle-hello
					|ahora información personal.

			form.cont-chat-form
				div.cont-chat-hidden
					div.group-chat-input
						label.chat-label-default(name="FechaExpedicion")
							|¿Cuál es la fecha <br>de expedición de su cédula?
						input.chat-input-default(type="date" id="start" name="FechaExpedicion")
						icon.icon-chat-calendar
					div.group-chat-input
						label.chat-label-default(name="CiudadExpedicion")
							|¿Cuál es el lugar <br>de expedición de su cédula?
						input.chat-input-default(type="text", required, name="CiudadExpedicion")
					div.group-chat-input
						label.chat-label-default(name="PaisNacimiento")
							|¿Cuál es su país<br> de nacimiento?
						input.chat-input-default(type="text", required, name="PaisNacimiento")
					div.group-chat-input
						label.chat-label-default(name="CiudadNacimiento")
							|¿Y la ciudad <br>de nacimiento?
						input.chat-input-default(type="text", required, name="CiudadNacimiento")
					div.group-chat-input
						label.chat-label-default(name="NumeroCelular")
							|Ahora, ¿Podría indicar <br>su número de teléfono?
						input.chat-input-default(type="number", required, name="NumeroCelular")
					div.group-chat-input
						label.chat-label-default(name="CorreoElectronico")
							|¿Cuál es su <br>correo electrónico?
						input.chat-input-default(type="text", required, name="CorreoElectronico")
					div.group-chat-input
						label.chat-label-default(name="DireccionResidencia")
							|Ahora, ¿Cuál es <br>su dirección de residencia?
						div.cont-chat-address-input
							select.chat-select-default.arrow name="DireccionResidencia")
								option(value="0")
									|Seleccione
								option(value="avcalle")
									|Av Calle
								option(value="avcarrera")
									|Av Carrera
								option(value="calle")
									|Calle
								option(value="carrera")
									|Carrera
								option(value="trasnversal")
									|Transversal
								option(value="diagonal")
									|Diagonal
							input.chat-input-default(type="text", required, name="DireccionResidencia")
							p.text-chat-address
								|#
							input.chat-input-default(type="text", required, name="DireccionResidencia")
							p.text-chat-address
								|-
							input.chat-input-default(type="text", required, name="DireccionResidencia")
					div.group-chat-input
						label.chat-label-default(name="TipoResidencia")
							|¿Torre, apartamento, <br>casa, oficina, otro o ninguno?
						input.chat-input-default(type="text", required, name="TipoResidencia")
						p.legal-chat-address 
							|Es importante que se por comas las caracteristicas <br>Ejem: Torre 10, apartamento 201
					div.group-chat-input
						label.chat-label-default(name="Si")
								|¿Desea que está sea <br>su dirección principal?
						div.cont-chat-option-address.m-left
							input#si.input-chat-radio(type="radio", required, name="direccionprincipal" )
							label.label-chat-radio(for='si')
								span
									svg(width='20px', height='20px', viewbox='0 0 12 10')
										polyline(points='1.5 6 4.5 9 10.5 1')
								span
									|Si
						div.cont-chat-option-address
							input#no.input-chat-radio(type="radio", required, name="direccionprincipal" )
							label.label-chat-radio(for='no')
								span
									svg(width='20px', height='20px', viewbox='0 0 12 10')
										polyline(points='1.5 6 4.5 9 10.5 1')
								span
									|No
					div.group-chat-input
						label.chat-label-default(name="CiudadResidencia")
							|Por último, ¿En que ciudad se encuentra ubicada esta dirección?
						input.chat-input-default(type="text", required, name="CiudadResidencia")
				
				div.cont-chat-btn-submit
					button#enviarSubmit.btn-chat-submit
						|Enviar



block Scripts
	//-Acá se ponen js que solo vayan en ésta página

